.GrupoDivPrincipal {
    width: 100%;
    display: inline-block;
    font: 15px/100% Arial;
    color: #333;
    text-shadow: 0 1px 1px rgba(7,7,7,.4);
}
.jWindowModal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999;
    display: none;
    overflow: hidden;
}
.jWindowContent {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -100px;
    width: 450px;
    height: 250px;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-left: 15px;
    -webkit-box-shadow: 0 1px 10px rgba(9,9,9,.5);
    -moz-box-shadow: 0 1px 10px rgba(9,9,9,.5);
    box-shadow: 0 1px 10px rgba(9,9,9,.5);
    border: thin solid #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 9999999999;
    display: none;
}
.loadingDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -20px;
    width: 650px;
    height: 100px;
    text-align: center;
    font: 12px/100% Arial;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#jWindowContentDiv {
    width: 610px;
    height: 390px;
    overflow: hidden;
}
#jWindowContentClose {
    position: absolute;
    top: 10px;
    right: 10px;
}
.iconBtn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 11px/100% Arial, Helvetica, sans-serif;
    padding: 2px 4px 2px 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-weight: bold;
}
.iconBtn img {
    width: 17px;
    height: 17px;
}
.rounded-border {
    -webkit-border-radius: .3em .3em .3em .3em;
    -moz-border-radius: .3em .3em .3em .3em;
    border-radius: .3em .3em .3em .3em;
}
/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6881F), to(#EF4623));
    background: -moz-linear-gradient(top, #F6881F, #EF4623);
    background: -o-linear-gradient(top, #F6881F, #EF4623);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F6881F', endColorstr='#EF4623');
}
.orange: hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    background: -o-linear-gradient(top, #f88e11, #f06015);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange: active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    background: -o-linear-gradient(top, #f47a20, #faa51a);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red {
    color: #faddde;
    border: solid 1px #d81b21;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    background: -o-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red: hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    background: -o-linear-gradient(top, #c9151b, #a11115);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red: active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    background: -o-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

.font {
    text-decoration: none;
    font: 12px/100% Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    width: 556px;
}
.font li {
    color: #555;
    cursor: pointer;
    padding: 4px 5px 5px 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.font li: hover {
    color: #fff;
    background-color: #f47a20;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    background: -o-linear-gradient(top, #faa51a, #f47a20);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    font-weight: bold;
    -webkit-border-radius: .3em .3em .3em .3em;
    -moz-border-radius: .3em .3em .3em .3em;
    border-radius: .3em .3em .3em .3em;
}
.statusFont {
    font: 10px/100% Arial, Helvetica, sans-serif;
    margin-left: 1px;
    margin-top: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.AppGrupoDiv {
    float: left;
    width: 44.5%;
    position: relative;
    border: 1px solid #d5d5d5;
    height: 88px;
    padding: 5px;
    margin: 5px;
    background: #f2f2f2;
}
.AppGrupoDiv: hover {
    background-color: #F5F9FC;
    cursor: pointer;
}
.divAppsTitulo {
    float: left;
    width: 130px;
    height: 60px;
}
.divAppListaSimples {
    font: 12px/100% Arial;
    color: #999;
    text-shadow: 0 1px 1px rgba(5,5,5,.5);
    width: 550px;
    display: inline-block;
}
.imgClose {
	width: 18px;
	height: 18px;
	background-image: url(../jWindow/rem.png);
	background-size: 18px 18px;
	background-color: transparent;
	background-repeat: no-repeat;
}