{% load i18n %}
{% spaceless %}
<div class="header">
	<div id="topSiteBar">
		<div class="topBarContend">
			<div style="float:left;margin-left:5px;">
				<img src="{{ STATIC_URL }}img/futebol_logo.jpg" />
			</div>		
			<div style="float:left;margin-left:5px;padding-top:12px;height:60px;vertical-align:middle;">
				<div class="title">Bolão de Futebol</div>
			</div>
			<div style="float:right;margin-right:5px;padding-top:12px;height:60px;vertical-align:middle;">
				<div id="inicio" class="fraseButton">{% trans "Principal" %}</div></a>
				<div style="margin-right:5px;padding-top:10px;float:left;"><div class="separator">|</div></div>
				<div id="pontuacao" class="fraseButton">{% trans "Pontuação" %}</div></a>
				<div style="margin-right:5px;padding-top:10px;float:left;"><div class="separator">|</div></div>
				<div id="ranking" class="fraseButton">{% trans "Ranking" %}</div></a>
			</div>
		</div>
	</div>
</div>
{% endspaceless %}