{% load i18n %}
{% spaceless %}
{% for jogo in jogos %}
<table border="0" class="tableTime">
	<tr class="infoJogo">
		<td style="text-align:left;" colspan="4">{{ jogo.campeonato.nome }}</td>
		<td style="text-align:right;font-size:13px;">{{ jogo.datajogo|date:"d/m/Y" }}</td>
	</tr>
	<tr style="background-color:#f2f2f2;">
		<td colspan="2">
			{{ jogo.primeirotime.nome }}
		</td>
		<td></td>
		<td colspan="2">
			{{ jogo.segundotime.nome }}
		</td>
	</tr>
	<tr>
		<td style="width:120px;">
			<img src="{{ STATIC_URL }}img/escudos/{{ jogo.primeirotime.brasao }}" />
		</td>
		<td style="font-size:30px;width:50px;">
			{% if jogo.resultadoprimeirotime >= 0 %}
				{{ jogo.resultadoprimeirotime }}
			{% endif %}
		</td>
		<td style="font-size:30px;width:50px;">
			X
		</td>
		<td style="font-size:30px;width:50px;">
			{% if jogo.resultadosegundotime >= 0 %}
				{{ jogo.resultadosegundotime }}
			{% endif %}
		</td>
		<td style="width:120px;">
			<img src="{{ STATIC_URL }}img/escudos/{{ jogo.segundotime.brasao }}" />
		</td>
	</tr>
	<tr>
		<td colspan="5" style="background-color:#f2f2f2;">
			<div class="apostas" id="{{ jogo.id }}">
				<table>
				{% for aposta in jogo.apostas %}
					
					<tr style="background-color:{% cycle '#e2e2e2' '#f2f2f2' %}">
						<td style="font-size:12px;text-align:left;">
							{{ aposta.usuario.nome }}
						</td>
						<td style="font-size:12px;">
							{{ aposta.primeirotime }} x {{ aposta.segundotime }}
						</td>
						<td style="font-size:12px;">
							{{ aposta.pontos }} pt(s)
						</td>
					</tr>
				
				{% endfor %}
				</table>
			</div>
		</td>
	</tr>
</table><br /><br />
{% endfor %}
<br /><br /><br /><br /><br />
{% endspaceless %}